

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body{
   background-color: #fbfbfb;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 4rem;
    box-sizing: border-box;
    align-items: center;
    color: #ffff;
    z-index: 10;
    backdrop-filter: blur(10px) grayscale(var(--image-grayscale))
      contrast(var(--image-contrast));
    /* background-color: #113448; */
    background-color: rgba(0 0 0 0.1);
}

nav .mobile-menu {
    display: none;
  }

  nav a {
    text-decoration: none;
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    color:#ffff;
    transition: color 0.125s ease;
  }
nav a:visited {
    color: #ffff;
  }
  nav a:hover {
    color: #14BF98;
  }

  nav img {
    height: 2rem;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  nav ul .icon {
    background-color: #14BF98;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    font-size: 0.4rem;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  nav ul .icon:hover {
    background-color: #ffff
  }
  nav ul .icon:hover a {
    color: #14BF98;
  }

.Home{
    background-image: url(./assest/header-background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffff;
    gap: 1.2rem;
}

.Home h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: -0.5rem;
  }
  .Home p {
    font-size: 1.125rem;
    width: 40%;
    font-family: "Open Sans", sans-serif;
    color: var(--dark-white-color);
    margin-bottom: 1rem;
  }

 button{
    padding: 16px 32px;
    border-radius: 03px;
    border: none;
    background-color: #14BF98;
    color: #ffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.1ch;
    font-size: 0.75rem;
    border: 2px solid #14BF98;
    text-transform: uppercase;
    transition: all 0.125s ease-in-out;

}

button:hover {
    background-color: transparent;
    color: var(--light-green-color);
  }

.into{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 110px 200px;
    
}
.into .text{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    
}

.into .text h3{
    font-size: 15px;
    color: #14BF98;
    padding-bottom: 13px;
}

.into .title {
    color: #14BF98;
    text-transform: uppercase;
    padding: 1rem 0;
    font-size: 0.813rem;
  }

  .italic {
    font-style: italic;
  }

.into .text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color:rgb(120, 121, 118);
    padding-bottom: 15px;
    font-size: 16px;
    vertical-align: baseline;
    margin: 0px 0px 16px;
    line-height:25px;
}

.into .text h2{
    font-family: 'Montserrat' , sans-serif;
    font-size:large;
    color:rgb(72, 74, 70);
    
}

.into img{
    width: 40vw;
    border-radius: 05px;
}
